<footer class="c-page-footer">

  <% unless @more_articles.nil? %>
    <div class="c-page-footer__recent-articles u-clearfix">
      <h2>Recent Articles</h2>
      <div class="c-page-footer__recent-articles__items">
        <% @more_articles.each do |article| %>
          <aside class="o-article-box u-contains-standard-links">
            <a  class="o-article-box__title" href="<%= article.url %>">
              <h2><%= article.title %></h2>
            </a>
            <div class="o-article-box__body">
              <%= article.intro characters: 800 %>
              <a href="<%= article.url %>"> read&#8230;</a>
            </div>
          </aside>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="c-page-footer__copyright">
    <p class="source-org vcard">Copyright &copy; Danny Smith <%= Date.today.year %>, except where otherwise noted.</p>
  </div>
</footer>
