
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield_content :title %></title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1">
    <meta name="description" content="Danny Smith. Articles on teaching, web design and ruby from London, UK">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/all.min.css">

    <!-- RSS -->
    <link href="http://<%= ENV['BASE_DOMAIN'] %>/feed" rel="alternate" type="application/rss+xml" title="The blog of Danny Smith" />

    <!-- TypeKit Scripts -->
    <script type="text/javascript" src="//use.typekit.net/uzs6fzm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <%= erb :'partials/_navigation'%>


    <div id="container">
      <aside class="c-rainbow-bar">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </aside>
      <a href="#" class="menu-btn"><i class="u-icon u-icon-bars"></i></a>

      <%= yield  %>

      <%= erb :'partials/_footer' %>

    </div><!-- End Pushy container -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>
    <script src="/production.js"></script>

    <!-- Fonticons (hosted FontAwesome) -->
    <script src="https://use.fonticons.com/33185e6a.js"></script>

    <!-- Google Analytics -->
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-10196790-3', 'auto');ga('send', 'pageview');
    </script>

    <!-- End Google Analytics -->
    <script>
      // Mouseflow
      var _mfq = _mfq || [];
      (function () {
      var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
      mf.src = "//cdn.mouseflow.com/projects/7cc9764d-ac78-4504-8480-a6ad86595c9b.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
  </body>
</html>
