<% content_for :title do %>Reading List<% end %>

<%= erb :'partials/_page_header', locals: {section_title: 'reading'} %>

<div class="article-body page-intro">
  <p>Articles that I've recently archived in <a href="http://readability.com">readability</a>.</p>
</div>

<div class="readability clearfix">
  <% @bookmarks.each do |item| %>
    <% puts item.title %>
    <% unless item.title.match(/^https?:\/\//) %>
      <div class="container">
        <div class="card">
          <figure class="front" style="background-image: url('<%= item.image %>')">
            <a href="<%= item.url %>">
              <%= item.title %>
            </a>
          </figure>
          <figure class="back">
            <a href="<%= item.url %>">
              <%= item.excerpt %>
            </a>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
