<% content_for :title do %>Reading List<% end %>

<%= erb :'partials/_page_header', locals: {section_title: 'reading'} %>

<div class="article-body page-intro">
  <p>Articles that I've recently archived in <a href="http://readability.com">readability</a>.</p>
</div>

<div class="readability clearfix">
  <% @bookmarks.each do |bookmark| %>
    <% unless bookmark.article.title.match(/^https?:\/\//) %>
      <div class="container">
        <div class="card">
          <figure class="front" style="background-image: url('<%= bookmark.article.lead_image_url %>')">
            <a href="<%= bookmark.article.url %>">
              <%= bookmark.article.title %>
            </a>
          </figure>
          <figure class="back">
            <a href="<%= bookmark.article.url %>">
              <%= bookmark.article.excerpt %>
            </a>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
